In [1]:
# Importing pandas for data manipulation and analysis
import pandas as pd

# Importing re for regular expressions, which can be useful for text processing
import re

# Importing classes and functions from the surprise library for building and analyzing recommender systems
from surprise import Reader, Dataset, SVD
from surprise.model_selection import train_test_split
from surprise import accuracy

# Importing random for generating random numbers or making random selections
import random

# Load movies and ratings data
movies = pd.read_csv("movie.csv")
ratings = pd.read_csv("rating.csv")

# movies

In [2]:

# Data Preparation and Analysis
# Handle missing values in the 'title' column
movies['title'].fillna('Unknown', inplace=True)

# Preprocess the 'title' column by removing special characters and converting to lowercase
def clean_title(title):
    title = re.sub("[^a-zA-Z0-9 ]", "", title)
    return title.lower()

movies['clean_title'] = movies['title'].apply(clean_title)

In [7]:
# movies

,movieId,title,genres,clean_title
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,toy story 1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,jumanji 1995
2,3,Grumpier Old Men (1995),Comedy|Romance,grumpier old men 1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,waiting to exhale 1995
4,5,Father of the Bride Part II (1995),Comedy,father of the bride part ii 1995
...,...,...,...,...
27273,131254,Kein Bund für's Leben (2007),Comedy,kein bund frs leben 2007
27274,131256,"Feuer, Eis & Dosenbier (2002)",Comedy,feuer eis dosenbier 2002
27275,131258,The Pirates (2014),Adventure,the pirates 2014
27276,131260,Rentun Ruusu (2001),(no genres listed),rentun ruusu 2001
27277,131262,Innocence (2014),Adventure|Fantasy|Horror,innocence 2014

In [8]:
# ratings

          userId  movieId  rating            timestamp
0              1        2     3.5  2005-04-02 23:53:47
1              1       29     3.5  2005-04-02 23:31:16
2              1       32     3.5  2005-04-02 23:33:39
3              1       47     3.5  2005-04-02 23:32:07
4              1       50     3.5  2005-04-02 23:29:40
...          ...      ...     ...                  ...
20000258  138493    68954     4.5  2009-11-13 15:42:00
20000259  138493    69526     4.5  2009-12-03 18:31:48
20000260  138493    69644     3.0  2009-12-07 18:10:57
20000261  138493    70286     5.0  2009-11-13 15:42:24
20000262  138493    71619     2.5  2009-10-17 20:25:36

[20000263 rows x 4 columns]

In [3]:
# Recommendation Model Development

# Create a Reader object with a rating scale from 0.5 to 5
reader = Reader(rating_scale=(0.5, 5))

# Load the ratings DataFrame into a Surprise Dataset object using the Reader
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)

# Split the dataset into training and testing sets with a test size of 20% and a fixed random state for reproducibility
trainset, testset = train_test_split(data, test_size=0.2, random_state=42)

# Create an SVD (Singular Value Decomposition) algorithm object
algo = SVD()

# Train the algorithm on the training set
algo.fit(trainset)

In [4]:
# Real-Time Interaction Simulation
def simulate_user_interaction(user_id, movie_id, rating):
    # Update the model with the new user interaction
    new_data = Dataset.load_from_df(pd.DataFrame([(user_id, movie_id, rating)], columns=['userId', 'movieId', 'rating']), reader)
    algo.fit(new_data.build_full_trainset())

# Simulate real-time user interactions
# simulate_user_interaction(1, 2, 5)  # User 1 rates movie 1 with 5 stars
# simulate_user_interaction(2, 2, 5)  # User 2 rates movie 1 with 4 stars
# simulate_user_interaction(3, 2, 5)  # User 2 rates movie 1 with 4 stars
# simulate_user_interaction(4, 2, 5)  # User 2 rates movie 1 with 4 stars

In [5]:
# Simple Interface for Searching Movies
def search_movies(query):
    """
    Search for movies based on a given query.

    Args:
    - query (str): The search query.

    Returns:
    - results (DataFrame): A DataFrame containing the search results.
    """
    query = clean_title(query)
    results = movies[movies['clean_title'].str.contains(query)]
    return results

def rank_movies(movie_ids):
    """
    Rank movies based on predicted ratings for a given list of movie IDs.

    Args:
    - movie_ids (list): A list of movie IDs.

    Returns:
    - ranked_movies (list): A list of tuples containing movie ID and predicted rating, sorted by predicted rating in descending order.
    """
    ranked_movies = []
    for movie_id in movie_ids:
        prediction = algo.predict(1, movie_id)
        ranked_movies.append((movie_id, prediction.est))
    ranked_movies.sort(key=lambda x: x[1], reverse=True)
    return ranked_movies

In [ ]:
# Processing data for UI
# Movie Search and Recommendation Loop
while True:
    # Get user input for movie search query
    search_query = input("Enter a movie title to search (or type 'exit' to quit): ")

    # Check if the user wants to exit
    if search_query.lower() == 'exit':
        break

    # Search for movies based on the query
    search_results = search_movies(search_query)

    # Display search results if any movies are found
    if not search_results.empty:
        print("\nSearch Results:")
        for index, row in search_results.iterrows():
            print(f"{row['title']} ({row['genres']})")

        # Get movie IDs from search results and rank movies
        movie_ids = search_results['movieId'].tolist()
        ranked_movies = rank_movies(movie_ids)

        # Display top 5 recommended movies with predicted ratings
        print("\nTop Recommendations:")
        for movie_id, est_rating in ranked_movies[:5]:
            movie_title = movies[movies['movieId'] == movie_id]['title'].values[0]
            print(f"{movie_title} - Predicted Rating: {est_rating:.2f}")
    else:
        # Display a message if no movies are found for the query
        print("No movies found for the given query.")

Enter a movie title to search (or type 'exit' to quit):  Harry

Search Results:
When Harry Met Sally... (1989) (Comedy|Romance)
Deconstructing Harry (1997) (Comedy|Drama)
Trouble with Harry, The (1955) (Comedy|Mystery)
Who's Harry Crumb? (1989) (Comedy|Mystery)
Harry and the Hendersons (1987) (Children|Comedy)
Let's Get Harry (1986) (Action|Adventure)
With a Friend Like Harry... (Harry, un ami qui vous veut du bien) (2000) (Drama|Thriller)
Dirty Harry (1971) (Action|Crime|Thriller)
Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001) (Adventure|Children|Fantasy)
Harry and Walter Go to New York (1976) (Comedy)
Harry Potter and the Chamber of Secrets (2002) (Adventure|Fantasy)
J. Gang Meets Dynamite Harry, The (Jönssonligan & DynamitHarry) (1982) (Comedy|Crime)
Dumb and Dumberer: When Harry Met Lloyd (2003) (Comedy)
Harry Potter and the Prisoner of Azkaban (2004) (Adventure|Fantasy|IMAX)
Harry and Tonto (1974) (Comedy|Drama)
Harry Potter and the Goblet of Fire (2005) (Adventure|Fantasy|Thriller|IMAX)
Tom, Dick and Harry (1941) (Comedy|Fantasy|Romance)
Harry Potter and the Order of the Phoenix (2007) (Adventure|Drama|Fantasy|IMAX)
Harry Potter and the Half-Blood Prince (2009) (Adventure|Fantasy|Mystery|Romance|IMAX)
Harry Brown (2009) (Crime|Drama|Thriller)
Who Is Harry Kellerman and Why Is He Saying Those Terrible Things About Me? (1971) (Comedy|Drama)
Harry Potter and the Deathly Hallows: Part 1 (2010) (Action|Adventure|Fantasy|IMAX)
Who Is Harry Nilsson (And Why Is Everybody Talkin' About Him?) (2010) (Documentary)
Handsome Harry (2009) (Crime|Drama)
Harry + Max (2004) (Drama)
Harry Potter and the Deathly Hallows: Part 2 (2011) (Action|Adventure|Drama|Fantasy|Mystery|IMAX)
Wild About Harry (2000) (Comedy|Drama|Romance)
Ray Harryhausen: Special Effects Titan (2011) (Documentary)
Plot Against Harry, The (1989) (Comedy)
Harry in Your Pocket (1973) (Comedy|Crime|Drama)
The Harry Hill Movie (2013) (Comedy)

Top Recommendations:
Harry Potter and the Deathly Hallows: Part 1 (2010) - Predicted Rating: 4.37
Harry Potter and the Deathly Hallows: Part 2 (2011) - Predicted Rating: 4.21
Harry Potter and the Prisoner of Azkaban (2004) - Predicted Rating: 4.17
Harry Potter and the Goblet of Fire (2005) - Predicted Rating: 4.16
Harry Potter and the Order of the Phoenix (2007) - Predicted Rating: 4.15

Enter a movie title to search (or type 'exit' to quit):  Tin Tin

No movies found for the given query.

Enter a movie title to search (or type 'exit' to quit):  tin tin

No movies found for the given query.

Enter a movie title to search (or type 'exit' to quit):  The 100

Search Results:
Ultimate Accessory,The (100% cachemire) (2013) (Comedy)

Top Recommendations:
Ultimate Accessory,The (100% cachemire) (2013) - Predicted Rating: 3.64

Enter a movie title to search (or type 'exit' to quit):  Max

Search Results:
Maximum Risk (1996) (Action|Adventure|Thriller)
Devil and Max Devlin, The (1981) (Comedy|Fantasy)
Maximum Overdrive (1986) (Horror)
Max Dugan Returns (1983) (Comedy)
Mad Max (1979) (Action|Adventure|Sci-Fi)
Road Warrior, The (Mad Max 2) (1981) (Action|Adventure|Sci-Fi)
Mad Max Beyond Thunderdome (1985) (Action|Adventure|Sci-Fi)
Michael Jordan to the Max (2000) (Documentary|IMAX)
Max Keeble's Big Move (2001) (Children|Comedy)
Max (2002) (Drama)
Blue Max, The (1966) (Adventure|Drama|War)
Maxed Out: Hard Times, Easy Credit and the Era of Predatory Lenders (2006) (Documentary)
Joe and Max (2002) (Drama|War)
Max Payne (2008) (Action|Crime|Drama|Thriller)
Climax, The (1944) (Horror|Musical)
Max Manus (2008) (Action|Drama|War)
Mary and Max (2009) (Animation|Comedy|Drama)
Childhood of Maxim Gorky, The (Detstvo Gorkogo) (1938) (Drama)
IMAX: Hubble 3D (2010) (Documentary|IMAX)
Blossoming of Maximo Oliveros, The (Ang pagdadalaga ni Maximo Oliveros) (2005) (Comedy|Drama)
Good Time Max (2007) (Drama)
44500 Max (2009) (Documentary)
Harry + Max (2004) (Drama)
Maximum Conviction (2012) (Action|Adventure|Thriller)
Mea Maxima Culpa: Silence in the House of God (2012) (Documentary)
Molly Maxwell (2013) (Drama|Romance)
IMAX: Coral Reef Adventure (2003) (Children|Documentary|IMAX)
Viva Max! (1969) ((no genres listed))
The Legend of Awesomest Maximus (2011) (Action|Comedy)

Top Recommendations:
IMAX: Hubble 3D (2010) - Predicted Rating: 4.06
Max Manus (2008) - Predicted Rating: 3.88
Maxed Out: Hard Times, Easy Credit and the Era of Predatory Lenders (2006) - Predicted Rating: 3.84
Mary and Max (2009) - Predicted Rating: 3.83
Mea Maxima Culpa: Silence in the House of God (2012) - Predicted Rating: 3.77